:root.light-theme{
    --main-green: #29C71A;
    --main-red: #C71A1A;
    --main-gold: #EEBB1B;

    --bkgrnd-clr: #FFFFFF;
    --text-clr: #000000;
    --border-clr: #000000;
    --svg-fill: #000000;

    --focus-bkgrnd-clr: #000000;
    --focus-text-clr: #FFFFFF;
    --focus-svg-fill: #FFFFFF;

    --x-after-bkgrnd: #FFFFFF;
    --o-after-bkgrnd: #FFFFFF;
    --x-after-bkgrnd-f: #EEBB1B;
    --o-after-bkgrnd-f: #EEBB1B;
}

:root.dark-theme{
    --main-green: #29C71A;
    --main-red: #C71A1A;
    --main-gold: #EEBB1B;

    --bkgrnd-clr: #2E3134;
    --text-clr: #E8EAED;
    --border-clr: #E8EAED;
    --svg-fill: #E8EAED;

    --focus-bkgrnd-clr: #E8EAED;
    --focus-text-clr: #000000;
    --focus-svg-fill: #000000;

    --x-after-bkgrnd: #2E3134;
    --o-after-bkgrnd: #2E3134;
    --x-after-bkgrnd-f: #EEBB1B;
    --o-after-bkgrnd-f: #EEBB1B;
}