*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
}

html{
    font-size: 10px;
}

#splash-page, #game-page{
    display: none;
}

main{
    margin: 0 auto;
    width: min(100%, 78rem);
    height: max(90vh, 50rem);
}
footer{
    margin: 0 auto;
    width: min(100%, 78rem);
    height: max(10vh, 10rem);
}

.button{
    background: var(--main-white);
    border: none;
    border-radius: 1rem;
}