*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
}

html{
    font-size: 10px;
}

main{
    margin: 0 auto;
    padding: 0 clamp(1rem, 7vw, 5rem);
    width: min(100%, 78rem);
}
footer{
    margin: 0 auto;
    padding: 0 clamp(1rem, 7vw, 5rem);
    width: min(100%, 78rem);
}

.page{
    margin: 0 auto;
    padding: 0 clamp(1rem, 7vw, 5rem);
    width: min(100%, 78rem);
}
.frame{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.button{
    width: clamp(10rem, 20vw, 12rem);
    height: clamp(4rem, 10vh, 6rem);
    padding: .5rem;
    background: var(--bkgrnd-clr);
    border: none;
    border-radius: .5rem;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}
.button:hover{
    cursor: pointer;
}
.dropdown{
    z-index: 1;
    width: clamp(10rem, 20vw, 12rem);
    background: var(--bkgrnd-clr);
    border: .1rem solid var(--border-clr);
}
.dropdown > li:hover, .dropdown > li:focus{
    cursor: pointer;
    background: var(--focus-bkgrnd-clr);
    color: var(--focus-text-clr);
    fill: var(--focus-svg-fill);
}

#theme-frame{
    height: max(15vh, 8rem);
}
#theme-button:hover, #theme-button:focus{
    background: var(--focus-bkgrnd-clr);
    color: var(--focus-text-clr);
}
#theme-dropdown{
    position: absolute;
    top: max(12vh, 8rem);
    display: none;
}
#theme-dropdown > li{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
}
#theme-dropdown > li > svg{
    width: clamp(2rem, 5vw, 2.5rem);
    height: clamp(2rem, 5vw, 2.5rem);
}

#subtitle-frame{
    height: max(50vh, 25rem);
    text-align: center;
}
.subtitle{
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: clamp(6rem, 10vh, 10rem);
}

#pick-foe-frame{
    height: max(20vh, 10rem);
}
#pick-friend-button, #pick-ai-button{
    width: clamp(10rem, 15vh, 15rem);
    height: clamp(5rem, 10vh, 8rem);
    font-size: clamp(1.2rem, 2vh, 1.5rem);
}
#pick-friend-button:hover, #pick-friend-button:focus{
    background: var(--main-green);
    color: var(--focus-text-clr);
}
#pick-ai-button:hover, #pick-ai-button:focus{
    background: var(--main-red);
    color: var(--focus-text-clr);
}
#ai-dropdown{
    position: absolute;
    display: none;
}
#ai-dropdown > li{
    height: clamp(4rem, 5vh, 4.5rem);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

#cprg-frame{
    height: max(15vh, 8rem);
}
.cprg-notice{
    text-align: center;
    font-size: clamp(.8rem, 2vw, 1rem);
    line-height: clamp(1rem, 10vh, 2rem);
}
.link{
    text-decoration: none;
    color: var(--main-gold);
}
.link:hover, .link:focus{
    text-decoration: underline solid var(--border-clr);
}

#splash-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: var(--bkgrnd-clr);
}
#title-frame{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
#title-frame > svg{
    width: clamp(10rem, 5vw, 12rem);
    height: clamp(10rem, 5vw, 12rem);
}
.title{
    font-size: clamp(3rem, 5vw, 5rem);
    line-height: clamp(6rem, 10vh, 10rem);
}

#game-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    grid-template-columns: 100%;
    justify-content: center;
    align-content: center;
    background: var(--bkgrnd-clr);
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cntrl-board-frame{
    height: max(15vh, 5rem);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
#pick-x-button, #pick-o-button{
    width: clamp(5rem, 10vw, 7rem);
    height: clamp(5rem, 10vw, 7rem);
    font-size: clamp(1.5rem, 3vw, 2rem);
    background: var(--bkgrnd-clr);
}
#pick-x-button::after, #pick-o-button::after{
    content: '';
    position: absolute;
    margin-top: clamp(3rem, 5vw, 4rem);
    width: clamp(5rem, 10vw, 6rem);
    height: .3rem;
    display: block;
}
#pick-x-button:hover, #pick-o-button:hover{
    cursor: pointer;
}
#pick-x-button:hover:after, 
#pick-o-button:hover:after,
#pick-x-button:focus:after, 
#pick-o-button:focus:after{
    background: var(--main-gold);
}

#menu-button:hover, #menu-button:focus{
    background: var(--focus-bkgrnd-clr);
    color: var(--focus-text-clr);
}


#game-board-frame{
    height: clamp(25rem, 60vh, 35rem);
}
.game-board{
    width: clamp(20rem, 50vh, 35rem);
    height: clamp(20rem, 50vh, 35rem);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    background: var(--bkgrnd-clr);
}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bkgrnd-clr);
    border: .2rem solid var(--border-clr);
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}
.tile:hover, .tile:focus{
    cursor: pointer;
    border-color: var(--main-gold);
}
.one{
    border-left: transparent;
    border-top: transparent;
}
.two{
    border-top: transparent;
}
.three{
    border-top: transparent;
    border-right: transparent;
}
.four{
    border-left: transparent;
}
.six{
    border-right: transparent;
}
.seven{
    border-left: transparent;
    border-bottom: transparent;
}
.eight{
    border-bottom: transparent;
}
.nine{
    border-right: transparent;
    border-bottom: transparent;
}

.player-one{
    color: var(--main-green);
}
.player-two{
    color: var(--main-red);
}
.win{
    color: var(--main-gold);
    animation: mark-win 1s ease-in-out infinite;
}

@keyframes mark-win {
    25%{
        color: transparent;
    }
    75%{
        color: var(--main-gold);
    }
}

.active{
    display: grid !important;
}